button.MarkpromptFloatingTrigger {
  bottom: 4.5rem;
}

html.light .MarkpromptContentDialog a {
  color: white;
}

html.light .MarkpromptContentDialog h3:not(.chip) {
  color: white;
}

.MarkpromptExtendedFeedbackTextInput {
  background-color: white;
  color: black;
}

.MarkpromptOverlay {
  z-index: 20;
}